SAPConnectorLibrary/Connected Services/Datos_Proveedores/DOC_3I_ZWS_DATOS_PROVEEDORES.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="IF_IF_ZWS_DATOS_PROVEEDORES">
    <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
      <sapsession:enableSession>false</sapsession:enableSession>
    </sapsession:Session>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP_IF_OP_ZFI_RFC_DATOS_PROVEEDORES">
    <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
    <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
    <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
    <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char16">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="16" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char220">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="220" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char241">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="241" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char35">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="35" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date">
        <xsd:restriction base="xsd:date">
          <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ZFI_RFC_PROVEEDORES">
        <xsd:sequence>
          <xsd:element name="PROVEEDOR" type="tns:char10" />
          <xsd:element name="NOMBRE" type="tns:char35" />
          <xsd:element name="CUIT" type="tns:char16" />
          <xsd:element name="TELEFONO" type="tns:char16" />
          <xsd:element name="MAIL" type="tns:char241" />
          <xsd:element name="POBLACION" type="tns:char35" />
          <xsd:element name="CALLE" type="tns:char35" />
          <xsd:element name="CPOSTAL" type="tns:char10" />
          <xsd:element name="PAIS" type="tns:char3" />
          <xsd:element name="FLAG" type="tns:char1" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TABLE_OF_ZFI_RFC_PROVEEDORES">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZFI_RFC_PROVEEDORES" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZFI_RFC_DATOS_PROVEEDORES">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="FECHA_CREACION" type="tns:date" />
            <xsd:element name="T_DETALLE" type="tns:TABLE_OF_ZFI_RFC_PROVEEDORES" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZFI_RFC_DATOS_PROVEEDORESResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="MENSAJE" type="tns:char220" />
            <xsd:element name="RESULTADO" type="tns:numeric3" />
            <xsd:element name="T_DETALLE" type="tns:TABLE_OF_ZFI_RFC_PROVEEDORES" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZFI_RFC_DATOS_PROVEEDORES">
    <wsdl:part name="parameters" element="tns:ZFI_RFC_DATOS_PROVEEDORES" />
  </wsdl:message>
  <wsdl:message name="ZFI_RFC_DATOS_PROVEEDORESResponse">
    <wsdl:part name="parameter" element="tns:ZFI_RFC_DATOS_PROVEEDORESResponse" />
  </wsdl:message>
  <wsdl:portType name="ZWS_DATOS_PROVEEDORES">
    <wsdl:operation name="ZFI_RFC_DATOS_PROVEEDORES">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_IF_OP_ZFI_RFC_DATOS_PROVEEDORES" />
      </wsp:Policy>
      <wsdl:input message="tns:ZFI_RFC_DATOS_PROVEEDORES" />
      <wsdl:output message="tns:ZFI_RFC_DATOS_PROVEEDORESResponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>