SAPConnectorLibrary/Connected Services/Comprobantes_NO_ABC/ZWS_COMPROBANTES_NO_ABC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN_BN_zws_comprobantes_no_abc">
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
    <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
    <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" />
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
  </wsp:Policy>
  <wsp:Policy wsu:Id="BN_BN_zws_comprobantes_no_abc_SOAP12">
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
    <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
    <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" />
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF_IF_ZWS_COMPROBANTES_NO_ABC">
    <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
      <sapsession:enableSession>false</sapsession:enableSession>
    </sapsession:Session>
    <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
      <sapcentraladmin:BusinessApplicationID>AAF96B5A8D8AF861E1000000646496DA</sapcentraladmin:BusinessApplicationID>
    </sapcentraladmin:CentralAdministration>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP_IF_OP_ZFI_RFC_COMPROBANTES_NO_ABC">
    <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
    <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
    <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
    <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char16">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="16" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char220">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="220" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="cuky5">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="5" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="curr13.2">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13" />
          <xsd:fractionDigits value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date">
        <xsd:restriction base="xsd:date">
          <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ZFI_RFC_COMPROBANTES_NO_ABC">
        <xsd:sequence>
          <xsd:element name="CLAVE_CT" type="tns:char2" />
          <xsd:element name="CTA_CONTABLE1" type="tns:char10" />
          <xsd:element name="IMPORTE" type="tns:curr13.2" />
          <xsd:element name="TEXTOS" type="tns:char50" />
          <xsd:element name="IND_IMP" type="tns:char2" />
          <xsd:element name="CECO" type="tns:char10" />
          <xsd:element name="TEXTO" type="tns:char50" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TABLE_OF_ZFI_RFC_COMPROBANTES_NO_ABC">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZFI_RFC_COMPROBANTES_NO_ABC" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZFI_RFC_COMPROBANTES_NO_ABC">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CLASE_DOC" type="tns:char2" />
            <xsd:element name="CUENTAS" type="tns:TABLE_OF_ZFI_RFC_COMPROBANTES_NO_ABC" />
            <xsd:element name="DOC_COMP1" type="tns:char10" />
            <xsd:element name="DOC_COMP10" type="tns:char10" />
            <xsd:element name="DOC_COMP11" type="tns:char10" />
            <xsd:element name="DOC_COMP2" type="tns:char10" />
            <xsd:element name="DOC_COMP3" type="tns:char10" />
            <xsd:element name="DOC_COMP4" type="tns:char10" />
            <xsd:element name="DOC_COMP5" type="tns:char10" />
            <xsd:element name="DOC_COMP6" type="tns:char10" />
            <xsd:element name="DOC_COMP7" type="tns:char10" />
            <xsd:element name="DOC_COMP8" type="tns:char10" />
            <xsd:element name="DOC_COMP9" type="tns:char10" />
            <xsd:element minOccurs="0" name="FECHACONT" type="tns:date" />
            <xsd:element name="FECHADOCUMENTO" type="tns:date" />
            <xsd:element name="MONEDA" type="tns:cuky5" />
            <xsd:element name="REFERENCIA" type="tns:char16" />
            <xsd:element name="SOCIEDAD" type="tns:char4" />
            <xsd:element name="TIENDA" type="tns:char4" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZFI_RFC_COMPROBANTES_NO_ABCResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CUENTAS" type="tns:TABLE_OF_ZFI_RFC_COMPROBANTES_NO_ABC" />
            <xsd:element name="MENSAJE" type="tns:char220" />
            <xsd:element name="NRO_DOC" type="tns:char10" />
            <xsd:element name="RESULTADO" type="tns:numeric3" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZFI_RFC_COMPROBANTES_NO_ABC">
    <wsdl:part name="parameters" element="tns:ZFI_RFC_COMPROBANTES_NO_ABC" />
  </wsdl:message>
  <wsdl:message name="ZFI_RFC_COMPROBANTES_NO_ABCResponse">
    <wsdl:part name="parameter" element="tns:ZFI_RFC_COMPROBANTES_NO_ABCResponse" />
  </wsdl:message>
  <wsdl:portType name="ZWS_COMPROBANTES_NO_ABC">
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF_IF_ZWS_COMPROBANTES_NO_ABC" />
    </wsp:Policy>
    <wsdl:operation name="ZFI_RFC_COMPROBANTES_NO_ABC">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_IF_OP_ZFI_RFC_COMPROBANTES_NO_ABC" />
      </wsp:Policy>
      <wsdl:input message="tns:ZFI_RFC_COMPROBANTES_NO_ABC" />
      <wsdl:output message="tns:ZFI_RFC_COMPROBANTES_NO_ABCResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="zws_comprobantes_no_abc" type="tns:ZWS_COMPROBANTES_NO_ABC">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_BN_zws_comprobantes_no_abc" />
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZFI_RFC_COMPROBANTES_NO_ABC">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="zws_comprobantes_no_abc_SOAP12" type="tns:ZWS_COMPROBANTES_NO_ABC">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_BN_zws_comprobantes_no_abc_SOAP12" />
    </wsp:Policy>
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZFI_RFC_COMPROBANTES_NO_ABC">
      <wsoap12:operation soapAction="" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="zws_comprobantes_no_abc">
    <wsdl:port name="zws_comprobantes_no_abc" binding="tns:zws_comprobantes_no_abc">
      <soap:address location="http://estradades.ad.aesa.com.ar:8000/sap/bc/srt/rfc/sap/zws_comprobantes_no_abc/200/zws_comprobantes_no_abc/zws_comprobantes_no_abc" />
    </wsdl:port>
    <wsdl:port name="zws_comprobantes_no_abc_SOAP12" binding="tns:zws_comprobantes_no_abc_SOAP12">
      <wsoap12:address location="http://estradades.ad.aesa.com.ar:8000/sap/bc/srt/rfc/sap/zws_comprobantes_no_abc/200/zws_comprobantes_no_abc/zws_comprobantes_no_abc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>